<div style="display: flex">
  <div>
    Select block to insert:
    <select (change)="insertText($event)">
      <option selected>-</option>
      <option *ngFor="let option of options" [value]="option.value">{{option.name}}</option>
    </select>
<!--    <button (click)="getPdf()">Generate pdf</button>-->
    <button (click)="saveData()">Save</button>
    <br>
    Start typing '[' to add variable
    <div style="display: flex; flex-wrap: wrap">
      <ng-container *ngFor="let page of pages, let index = index">
        <quill-editor #pagesEl
                      [modules]="modules"
                      (onFocus)="setFocusedEditor($event, index)"
                      (onContentChanged)="onChange($event, index)"
                      (keydown)="onBackspace($event)"
        ></quill-editor>
      </ng-container>
    </div>
  </div>
  <div>
    <div class="preview" [innerHTML]="savedContent">
    </div>
  </div>
</div>

